.recommendations {}

.title-wapper {
    display: flex;
    justify-content: center;
}

.line {
    background-color: #f3f4f3;
    height: 5px;
    width: 1000px;
}

.title {
    font-size: 35px;
    font-family: bold;
    color: #3e89b6;
    display: flex;
    justify-content: center;
}

.icon-position {
    display: flex;
    justify-content: center;
    margin: 20px 0px 0px 0px;
}

.swiper-items {
    background: white;
    /* width: 200px;
    height: 200px; */

}

.image {
    display: flex;
    justify-content: center;
}

.description {
    color: #707070;
    font-size: 16px;
    margin: 0px 60px 0px 60px;

}

.button-style {
    width: 250px;
    height: 32px;
    background-color: #3f9ad3;
    border: solid 1px;
    border-radius: 11px;
    border-color: #3f9ad3;
}

.recommendations-swiper {
    background: #f3f4f3;
}

.recommendations-swiper-wapper {
    border: solid 10px;
    border-color: #f3f4f3;
    border-radius: 15px;
    margin: 0px 180px 0px 180px;
}